@inject UserService UserService

<AuthorizeView>
    <Authorized>
        @if (!string.IsNullOrEmpty(UserEmail))
        {
            <span class="me-3">Logged in as: <b>@UserEmail</b></span>
        }
        else
        {
            <span class="me-3">Fetching user info...</span>
        }
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
     
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
       
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? UserEmail;

    protected override void OnInitialized()
    {
        // Get the logged-in user's email from the UserService
        UserEmail = UserService.GetLoggedInUser();
    }
}
