@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace WebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="WebApp.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Include Blazor head outlet for SEO and prerendering -->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="https://cdn.fullcalendar.io/fullcalendar/3.2.0/fullcalendar.css" rel="stylesheet" />

  </head>
<body>
    <!-- Render Blazor app with server-side prerendering -->
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <!-- Error UI for Blazor -->
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- Blazor Framework Script -->
    <script src="https://cdn.fullcalendar.io/fullcalendar/3.2.0/fullcalendar.min.js"></script>
    <script src="~/calender.js"></script>
    <script src="_framework/blazor.server.js"></script>


</body>
</html>
