@page "/MainSetting"

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <Sidebar SidebarClass="@SidebarClass" />

        <!-- Main Content -->
        <div class="col" id="main-content" style="margin-left: @SidebarMargin;">
            <!-- Navbar -->
            <DashboardNav />

            <!-- Page Content -->
            <ConfigureSystemSettings />
        </div>
    </div>
</div>

@code {
    private string SidebarClass { get; set; } = "sidebar-visible";
    private string SidebarMargin { get; set; } = "250px"; // Sidebar default width

}

<style>
    /* Sidebar visibility classes */
    .sidebar-visible {
        transform: translateX(0); /* Show sidebar */
        transition: transform 0.3s ease-in-out;
    }

    .sidebar-hidden {
        transform: translateX(-100%); /* Hide sidebar */
        transition: transform 0.3s ease-in-out;
    }

</style>