@page "/MainSetting"

<div class="container-fluid " style="width:80%; ">
           <!-- Navbar -->
            <!-- Page Content -->
    <div class="content" style="margin-top:2rem; width:auto; ">
            <ConfigureSystemSettings />
       
    </div>
</div>


@code {
    private string SidebarClass { get; set; } = "sidebar-visible";  // Initially visible
    private string SidebarMargin { get; set; } = "250px";          // Sidebar default width
    private string NavbarPadding { get; set; } = "250px";           // Match Sidebar width

    private void ToggleSidebar()
    {
        if (SidebarClass == "sidebar-visible")
        {
            SidebarClass = "sidebar-hidden";
            SidebarMargin = "0px";
            NavbarPadding = "0px";
        }
        else
        {
            SidebarClass = "sidebar-visible";
            SidebarMargin = "250px";
            NavbarPadding = "250px";
        }
        StateHasChanged();  // Force re-render after changing state
    }
}
